#pageHeader {
    font-size: 120%;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: rgb(252, 252, 252);
    background-color: rgb(38, 103, 163);
    top: 70px;
    position: relative;
}

#color {
    background-color: rgb(31, 31, 31);
}

.fig {
    float: left
}

.jump-button {
    text-align: center;
    padding: 10px;
    background-color: #ffe656;
    text-transform: uppercase;
    position: relative;
    font-weight: bold;
    animation: bounce 1.8s infinite;
    border-radius: 10%;
}

body {
    background-color: rgba(0, 0, 0, 0.83)
}

a, p, .jump-button {
    color: #2366b3;
}

@keyframes bounce {
    0% {
        bottom: 0;
    }
    50% {
        transform: translateY(100%);
    }
    100% {
        transform: translateY(0);
    }
}